node_modules
.yarn
.idea
.vscode
.git

dist
build
.next
.vercel

*.log
*.tsbuildinfo

Dockerfile
Dockerfile.*
docker-compose.yml
.dockerignore

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
