.avatar {
  background: var(--color-brand);
  color: var(--color-white);
  font-size: 24px !important;
  cursor: pointer;
}

.row .link {
  white-space: nowrap;
  transition: 0s !important;
}
.button {
  width: 100%;
}